extends layout

block content
  h1 #{title}
      hr

      h2#one= "New Users, Sign Up:"
        p
      div 
        p#good #{sign}
      

      
      form#one(action="/sign-up" method="post")
        label(for="email") Email: 
        input(type="text" name="email")
        p
        label(for="password") Password: 
        input(type="password" name="password")
        p
        label(for="password_confirm") Password Confirmation: 
        input(type="password" name="password_confirm")
        p
        input#button(type="submit")
        p 
        p
        p
        hr
        
      h2#two= "Returning Users, Log In:"
        p
      div
        p#error  #{message}
      form#two(action="/login" method="post")
        label(for="log_email") Email: 
        input(type="text" name="log_email")
        p
        label(for="log_password") Password: 
        input(type="password" name="log_password")
        p
        input#button(type="submit")
        p
        p
        hr
        
        
      form(action="/logout" method="post")
        input#button(type="submit" value="Logout")
        p 
        p 
